.news-title {
  text-align: center;
}

.add-to-favorite {
  position: absolute;
  top: 5px;
  right: 15px;
}

.news-image {
  margin: auto;
  max-height: 200px;
}

.news-body {
  font-size: 20px;
  text-align: center;
  color: #2d2d2d;
}

/*# sourceMappingURL=view.css.map */
