body {
	font-family: Arial;
}
.logo-Q {
	background-image: url(../img/logo.svg);
	background-size: 60px 30px;
	width: 16px;
	height: 40px;
	background-repeat: no-repeat;
	background-position-x: -4px;
	color: transparent;
	display: inline-block;
}
.logo-text{
	width: 300px;
}
#main-navigation ul, #footer-navigation ul{
	list-style-type: none;
	display: flex;
	margin:0;
	padding: 0;
	justify-content: flex-end;
}
#main-navigation ul li, #footer-navigation ul li{	
	text-wrap: nowrap;	
}
#main-navigation ul li:not(:first-child),
#footer-navigation ul li:not(:first-child){
	padding-left: 30px;
}
section {
	margin-top: 40px; 
}
.overview{
	height: 100%;
}
.overview h1{
	font-size: 3em;
	position: relative;
	z-index: 1;
	font-weight: bold;
	white-space: nowrap;
	padding-top: 75px;
}
.overview h2{
	font-size: 3em;
	white-space: nowrap;
	position: relative;
	z-index: 1;
}
.overview p{
	color: #72757E;
}
.overview a{
	color: #72757E; 
}
.modern-building{
	position: relative;
	z-index:0;
	width: 100%;
}
.choose-date{
	position: relative;
	z-index: 1;
	margin-top:-20px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
	padding: 10px 0;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.choose-date label { font-weight: bold;}
.overview-iqpark{
	padding-bottom: 100px;
	padding-left: 175px;
}
.overview-iqpark > .col{
	height: 100%;
	position: relative;
	
}
.overview-iqpark .image-1{
	position: absolute;
	z-index:0;
	height: 200px;
	left:0px;
	top: 0px;
}
.overview-iqpark .image-2{
	position: relative;
	z-index:-1;
	left: 75px;
	top: 75px;
	height: 300px;
	bottom: 20px;
}
.overview-residents{
	padding: 20px 175px;
}
.overview-residents, .online-planner, footer{
	position: relative;
	background-color: #161821;
	color: #a2a5b4;
}
.overview-residents h1,.online-planner h1{
	color: white;
	text-align: center;
	padding: 20px 0;
}
.overview-residents .services{
	text-align: center;
}
.overview-rooms{
	padding: 20px 75px;
	padding-right: 0;
}
.overview-rooms > .row{
	padding-top: 100px;
	align-items: center;
}
.overview-rooms .big-image{
	width: 100%;
}
.overview-rooms .small-image{
	
	width: 100%;
}
.overview-rooms button{
	margin-right: 20px;
}
.overview-rooms .price{
	display: inline-block;
	
	font-weight: bold;
}
.overview-rooms p{
	color: #72757E;
	font-size: 12px;
}
.online-planner{
	padding: 40px 75px;
}
.online-planner .actions{
	text-align: center;
}
.saveButton, .orderButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.saveButton:hover, .orderButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.saveButton:active, .orderButton:active {
	position:relative;
	top:1px;
}

.online-planner .image3{
	position: absolute;
	top:25px;
	left: 0px;
	z-index: 0;
	width: 100%;
}
.online-planner .image4{
	position: relative;
	z-index: 1;
	width: 100%;
}
.online-planner .planner{
	background: #f7f8fb;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}
.setka{ position: relative;}
.planner-options {
	padding-left: 20px;
	padding-right: 20px;
}

.planner > h4{
	padding-left: 20px;
	margin-top: 20px;
}
.planner-select{
	margin: 20px 20px;	
}
.planner-select > select {
	width: 100%;
}

footer .logo-text{
	color: white;
}
