.styles-root-1 {
    display: flex;
    width: 100%;
    min-height: 250px;
    
}

.styles-root-2 {
    width: 250px;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
}

.styles-link {
    display: block;
    height: 100%;
    width: 100%;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.body-root {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.body-titleRow {
    width: 100%;
    display: flex;
}
.body-titleRow .body-title{
    width: 100%;
}
.body-titleRow .body-actions {
    width: 60%;
}
.body-text{
    width: 100%;
}
.body-service-list{
    display: flex;
    list-style-type: none;
}
.body-service-list-item{
    padding: 5px 10px;
}
.photo-slider-root {
    display: block;
}
.photo-slider-redesign-up{
    width: 100%;
}
.photo-slider, .photo-slider-redesign {
    width: 100%;
    height: 0;
    position: relative;
}

.photo-slider-aspect-ratio-4-3 {
    padding-top: 75%;
}

.photo-slider-list {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgba(0, 0, 0, .04);
    z-index: 0
}

.photo-slider-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}
.photo-slider .photo-slider-list .photo-slider-list-item::after{
    position: relative;    
    bottom: 0;
}
.photo-slider .photo-slider-list .photo-slider-list-item::after, 
.photo-slider-slider .photo-slider .photo-slider-list .photo-slider-list-item::after {
    z-index: 100;
    width: 100%;
    height: 2px;
    margin: 0 1px 4px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    background-color: rgba(232, 232, 232, .8);
    border-radius: 1px
}

.photo-slider .photo-slider-list .photo-slider-list-item:first-child::after, 
.photo-slider-slider .photo-slider .photo-slider-list .photo-slider-list-item:first-child::after {
    margin-left: 10px
}

.photo-slider.photo-slider-list .photo-slider-list-item:last-child::after, 
.photo-slider-slider .photo-slider .photo-slider-list .photo-slider-list-item:last-child::after {
    margin-right: 10px
}
/*
.photo-slider-responsive-2M0yw .photo-slider-list-1RVxp .photo-slider-list-item-35GzI::after, .photo-slider-responsive-2M0yw .photo-slider-slider-3tEix .photo-slider-list-1RVxp .photo-slider-list-item-35GzI::after {
    height: 4px;
    margin: 0 2px 5px;
    background-color: rgba(255, 255, 255, .5)
}

.photo-slider-responsive-2M0yw .photo-slider-list-1RVxp .photo-slider-list-item-35GzI:first-child::after, .photo-slider-responsive-2M0yw .photo-slider-slider-3tEix .photo-slider-list-1RVxp .photo-slider-list-item-35GzI:first-child::after {
    border-radius: 2px 0 0 2px
}

.photo-slider-responsive-2M0yw .photo-slider-list-1RVxp .photo-slider-list-item-35GzI:last-child::after, .photo-slider-responsive-2M0yw .photo-slider-slider-3tEix .photo-slider-list-1RVxp .photo-slider-last-item-2Dp6j:first-child::after {
    border-radius: 0 2px 2px 0
}
*/

.photo-slider .photo-slider-list:hover .photo-slider-list-item::after, 
.photo-slider-slider:hover .photo-slider .photo-slider-list .photo-slider-list-item::after {
    content: '';
    display: block
}

.photo-slider .photo-slider-list:not(:hover) .photo-slider-list-item:first-child::after,
.photo-slider-root .photo-slider .photo-slider-list:hover .photo-slider-list-item:hover::after {
    background-color: #2196f3
}

/*
.photo-slider-responsive-2M0yw .photo-slider-list-1RVxp:not(:hover) .photo-slider-list-item-35GzI:first-child::after, .photo-slider-root-1w2KO.photo-slider-responsive-2M0yw .photo-slider-list-1RVxp:hover .photo-slider-list-item-35GzI:hover::after {
    background-color: #0af
}*/

.photo-slider-item {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    overflow: hidden
}

.photo-slider-image {
    position: relative;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    user-select: none;
}

.photo-slider-list:not(:hover) .photo-slider-list-item:first-child .photo-slider-item, .photo-slider-list-item:focus .photo-slider-item, .photo-slider-list-item:hover .photo-slider-item, .photo-slider-list-item:last-child:hover .photo-slider-item {
    opacity: 1;
}

.photo-slider-list-item:focus {
    outline: 0
}

.photo-slider-show-item{
    height: 30px;
    width: 100%;
    
}
.photo-slider-show-image{
    position: relative;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    user-select: none;
}