.card {
  border: none;
}

.login-card {
  display: flex;
  flex-direction: row;
  padding: 0px;
  box-shadow: 0 0 15px 5px;
  border-radius: 15px;
  overflow: hidden;

  .login-card__img {
	display: flex;
	width: 270px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("/img/loft.png");

	h3, h4 {
	  text-shadow: 0px 1px 3px #000;
	  color: #fff;
	}
  }

  .login-card__form {
	width: 270px;
	padding: 15px;

	h1 {
	  font-size: 22px;
	  color: #2d2d2d !important;
	  margin-bottom: 20px;
	}
  }

  .form-group {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
  }

  label {
	margin-bottom: 0px;
  }

  input[type="text"], input[type="password"] {
	padding-top: 0px;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid grey;
	border-radius: 0px;
  }

  button {
	width: 75%;
	height: 2rem;
	position: relative;
	background: linear-gradient(135deg, #3ce77b 0%, #008eff 70%);
	color: white;
	outline: none;
	border-style: none;
	border-radius: 15px;
	transition: 0.3s ease-in-out;
	margin: 27px auto 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
	  filter: hue-rotate(45deg);
	}
  }

  .social-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2px 0px;

	.auth {
	  width: 35px;
	  height: 35px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-radius: 50%;
	  color: #fff;
	}

	.facebook {
	  background-color: #1A77F2;
	}

	.vk {
	  background-color: #2787F4;
	  margin-left: 10px;
	  margin-right: 10px;
	}

	.google {
	  background-color: #EA4435;
	}
  }
}


