.page-content {
  min-height: calc(100vh - 120px);
}

button {
  outline: none !important;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 20%;
  right: 20%;
  bottom: 40px;
  background-color: #f1f1f1;
  padding: 20px;
  overflow-x: scroll;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.date-select .hours {
  border: #dadce0 1px solid;
  border-bottom: none;
  text-align: center;
}
.date-select .hours .hour-select {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  border-bottom: #dadce0 1px solid;
  cursor: pointer;
}
.date-select .hours .hour-select span {
  font-weight: 200;
  font-size: 20px;
}
.date-select .hours .hour-select.active {
  background-color: lightblue;
}

/*# sourceMappingURL=style.css.map */
